body {
  margin: 0;
  overflow: hidden;
}

/* Full screen overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  z-index: 1000;
}

.hidden {
  display: none;
}

.gameover-box {
    position: relative;
    width: 50%;
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    top: 20px;
    left: 450px;
}

.gameover-box h1 {
  margin-bottom: 20px;
  font-size: 40px;
}

.gameover-box button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

#score-board {
    position: absolute;
    top: 10px;
    color: black;
    background: wheat;
    width: 10%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
}

#score-board > p {
    text-align: center;
    font-size: large;
    font-weight: bold;
}